<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Add song to queue</h1>
        <p class="lead">
            Enter the name of the song and the artist to search</p>
    </div>
</div>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Song's name:</label>
        <input type="text" class="form-control" id="song-name" [(ngModel)]="songName" name="songName" placeholder="Enter song's name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Artist</label>
        <input type="text" class="form-control" id="artist" [(ngModel)]="songArtist" name="songArtist" placeholder="Enter song's artist.">
    </div>
    <div class="form-group form-check">
    </div>
    <button type="submit" class="btn btn-primary" (click)="searchSong()">Search Song</button>
    <div id="results" style="max-height: 200px;
    overflow-y: scroll;
    background-color: #1d1f3a;
    margin: 15px;">
      <div *ngFor="let song of results" style="display:flex">
          <span style="margin:15px; flex-grow:1; font-size:0.8em" class="song_name">{{song.name}} - {{song.artists[0].name}}</span>
          <button _ngcontent-eng-c3="" class="btn btn-primary" (click)="addToQueue(song.id)">Add to queue</button>
      </div>
    </div>
</form>
<div class="player">
    <div *ngIf="this.queueId!=''">
        <iframe id="queue" src="https://open.spotify.com/embed/playlist/{{this.queueId}}" width="600" height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>
<div>
    <button class="btn btn-primary" routerLink="/home">Home</button>
    <button class="btn btn-primary" [appRole]="owner" id="shareButton">Share</button>
</div>
